/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
 /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
.page {
  color: var(--text-color, #f1b2ce);
  font-family: var(--main-font, sans-serif);
  font-size: 18px;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: min-content 1fr min-content 1fr min-content;
  padding: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  block-size: 100vh;
  min-block-size: 668px;
}

.decorated-zone::before {
  content: "";
  margin-inline-start: calc(100% - 25px);
  border-right: 1px solid var(--accent-color);
  border-top: 1px solid var(--accent-color);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  content: "";
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  text-transform: uppercase;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-element {
  position: absolute;
  top: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  right: clamp(1.1875rem, 0.5911rem + 2.5445vw, 1.8125rem);
  visibility: visible;
  color: var(--accent-color);
}

.decorated-element::after {
  content: "";
  display: inline-block;
  margin-inline-start: 10px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

@media (width>=1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin-block-start: -26px;
  }
}

.header__theme-menu-list {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  padding: 0;
  list-style: none;
}

@media (width>=1024px) {
  .header__theme-menu-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.header__theme-menu-button {
  border: none;
  outline: none;
  color: var(--accent-color);
  text-transform: lowercase;
  background: transparent;
  inline-size: 70px;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentcolor;
  outline: none;
  color: currentColor;
}

.header__theme-menu-button:hover {
  outline: 1px solid rgb(var(--accent-color), 0.4);
}

.header__theme-menu-button_active {
  outline: 1px solid currentColor;
  pointer-events: none;
}

.heading {
  align-self: center;
  margin-block: clamp(1.75rem, 1.6904rem + 0.2545vw, 1.8125rem);
  color: var(--heading-color);
  font-family: inherit;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  line-height: 0.825;
  text-shadow: 4px 4px 0 var(--accent-color);
}

@media (width>=768px) {
  .heading {
    margin-inline-start: -20px;
    margin-block: clamp(1.8125rem, 0.3125rem + 3.125vw, 2.3125rem);
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width>=1024px) {
  .heading {
    text-shadow: 4px 4px 0 var(--accent-color);
  }
}

.content__paragraph {
  align-self: center;
  color: var(--bg-color);
}

@media (width>=768px) {
  .content__paragraph {
    justify-self: end;
    max-width: calc(100% / 2);
    margin-block-end: 10px;
  }
}

.title-decor {
  font-weight: 700;
  background-color: var(--accent-color);
}

.content__section {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: min-content;
  gap: 20px;
  margin-inline: 0;
  margin-block: clamp(3.125rem, 1.3359rem + 7.6336vw, 5rem) 0;
  padding: 0 clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
}

.content__section:first-of-type {
  margin-block-start: clamp(2.5rem, 1.3073rem + 5.0891vw, 3.75rem);
}

.content__section_why {
  grid-template-areas:
    "why"
    "mult";
  gap: 20px;
}

@media (768px<=width<1024px) {
  .content__section_why {
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      "why mult"
      ". mult";
    gap: 20px;
  }
}

@media (width>=1024px) {
  .content__section_why {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content;
    grid-template-areas:
      "why mult mult"
      ". mult mult";
    gap: 20px;
  }
}

.content__title {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 18px;
}

.content__title_why {
  grid-area: why;
}

.content__text-block_why-mult {
  grid-area: mult;
}

.content__text-block_why-mult {
  display: grid;
  grid-template-rows: max-content;
  gap: 20px;
}

.paragraph__title {
  margin-block-end: 10px;
  color: var(--bg-color);
}

.content__section_what {
  grid-template-rows: 1fr;
  grid-template-areas:
    "what"
    "mult";
  gap: 20px;
}

@media (768px<=width<1024px) {
  .content__section_what {
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      "what ."
      "mult mult";
    gap: 20px;
  }
}

@media (width>=1024px) {
  .content__section_what {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content;
    grid-template-areas:
      "what . ."
      "mult mult mult";
  }
}

.content__title_what {
  grid-area: what;
}

.content__text-block_what-mult {
  grid-area: mult;
}

.content__text-block_what-mult {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

@media (width<1024px) {
  .content__text-block_what-mult {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.content__section_to {
  grid-template-areas:
    "to"
    "rec"
    "mult";
  gap: 20px;
}

@media (768px<=width<1024px) {
  .content__section_to {
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      "to rec"
      "to mult";
    gap: 20px;
  }
}

@media (width>=1024px) {
  .content__section_to {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content;
    grid-template-areas:
      "to rec rec"
      "to mult mult";
    gap: 20px;
  }
}

.content__title_to {
  grid-area: to;
}

.content__title-rec {
  grid-area: rec;
  color: var(--bg-color);
}

.small_title {
  margin-block-start: 0;
  font-weight: 400;
}

.content__text-block_to-sky:nth-child(n) {
  grid-area: mult;
}

.content__text-block_to-sky {
  display: grid;
  grid-template-rows: max-content;
  gap: 20px;
}

.content__section_insta {
  display: grid;
  grid-template-areas:
    "insta"
    "sunset"
    "ice-cream"
    "tape"
    "books"
    "street";
  gap: 10px;
}

@media (width>=768px) {
  .content__section_insta {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content;
    grid-template-areas:
      "insta insta insta"
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
    gap: 20px;
  }
}

.content__title_insta {
  grid-area: insta;
  color: var(--bg-color);
}

.content__figure {
  position: relative;
  inline-size: 100%;
}

.content__picture {
  display: block;
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.sunset {
  grid-area: sunset;
}

.ice-cream {
  grid-area: ice-cream;
}

.tape {
  grid-area: tape;
}

.books {
  grid-area: books;
}

.street {
  grid-area: street;
}

.footer {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  margin-block-start: clamp(2.5rem, 1.3073rem + 5.0891vw, 3.75rem);
  padding-inline: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  padding-block: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  min-block-size: 668px;
  block-size: 100vh;
}

.heading-footer {
  justify-self: center;
  margin-inline-start: 0;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(var(--color-hover-rgb), 0.4);
}

.header__theme-menu-button_active {
  outline-color: var(--accent-color);
}

  @media (width>=1024px) {
    .heading-footer {
      --accent-color: #ff0070;
    }
    .heading {
      --accent-color: #ff0070;
    }
  }
