/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: var(--bg-image);
  background-color: var(--bg-color);
  font-family: var(--main-font, sans-serif);
  color: var(--text-color, #f1b2ce);
  font-size: 18px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.header {
  padding: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  display: grid;
  grid-template-rows: min-content 1fr min-content 1fr min-content;
  position: relative;
  block-size: 100 vh;
  min-block-size: 668px;
}

.decorated-zone::before {
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-right: 1px solid currentColor;
  border-top: 1px solid currentColor;
  margin-inline-start: calc(100% - 25px);
}

.decorated-zone::after {
  content: "";
  text-transform: uppercase;
  inline-size: 25px;
  block-size: 25px;
  border-left: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
}

.decorated-element {
  position: absolute;
  top: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  right: clamp(1.1875rem, 0.5911rem + 2.5445vw, 1.8125rem);
  color: var(--accent-color);
  visibility: visible;
}

.decorated-element::after {
  display: inline-block;
  content: "";
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  margin-inline-start: 10px;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

@media (width>=1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin-block-start: -26px;
  }
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
  padding: 0;
  grid-template-rows: repeat(3, 1fr);
  list-style: none;
}

@media (width>=1024px) {
  .header__theme-menu-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.header__theme-menu-button {
  background: transparent;
  border: none;
  outline: none;
  text-transform: lowercase;
  inline-size: 70px;
}
/*
.header__theme-menu-button_type_light {
  color: currentColor;
}
*/
.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentcolor;
  color: currentColor;
  outline: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid rgb(var(--accent-color), 0.4);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid currentColor;
}

.heading {
  align-self: center;
  font-family: inherit;
  color: var(--heading-color);
  font-style: normal;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  margin-block: clamp(1.75rem, 1.6904rem + 0.2545vw, 1.8125rem);
  text-shadow: 4px 4px 0 var(--accent-color);
}

@media (width>=768px) {
  .heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
    margin-block: clamp(1.8125rem, 0.3125rem + 3.125vw, 2.3125rem);
  }
}

@media (width>=1024px) {
  .heading {
    text-shadow: 4px 4px 0 var(--accent-color);
  }
}

.content__paragraph {
  align-self: center;
}

@media (width>=768px) {
  .content__paragraph {
    max-width: calc(100% / 2);
    justify-self: end;
    margin-block-end: 10px;
  }
}

.title-decor {
  background-color: var(--accent-color);
  font-weight: 700;
}

.content__section {
  margin-inline: 0;
  margin-block: clamp(3.125rem, 1.3359rem + 7.6336vw, 5rem) 0;
  padding: 0 clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: auto;
  gap: 20px;
}

.content__section:first-of-type {
  margin-block-start: clamp(2.5rem, 1.3073rem + 5.0891vw, 3.75rem);
}

.content__section_why { /*-*/
  grid-template-areas:
    "why"
    "mult"
    "dop";
}

@media (768px<=width<1024px) {
  .content__section_why {
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      "why mult"
      ". dop";
  }
}

@media (width>=1024px) {
  .content__section_why {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content;
    grid-template-areas:
      "why mult mult"
      ". dop dop";
  }
}

.content__title {
  font-weight: 700;
  font-size: 18px;
}

.content__title_why {
  grid-area: why;
}

.content__text-block_why-mult {
  grid-area: mult;
}

.paragraph__title {
  margin-block-end: 10px;
}

.content__text-block_why-dop {
  grid-area: dop;
}

.content__section_what { /*-*/
  grid-template-areas:
    "what"
    "mult"
    "meal"
    "gadget";
}

@media (768px<=width<1024px) {
  .content__section_what {
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      "what ."
      "mult mult"
      "meal meal"
      "gadget gadget";
  }
}

@media (width>=1024px) {
  .content__section_what {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content;
    grid-template-areas:
      "what . ."
      "mult meal gadget";
  }
}

.content__title_what {
  grid-area: what;
}

.content__text-block_what-mult {
  grid-area: mult;
}

.content__text-block_what-meal {
  grid-area: meal;
}

.content__text-block_what-gadget {
  grid-area: gadget;
}

.content__section_to {/*-*/
  grid-template-areas:
    "to"
    "rec"
    "sky"
    "mus"
    "walk"
    "meal"
    "read";
}

@media (768px<=width<1024px) {
  .content__section_to {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    grid-template-areas:
      "to rec"
      "to sky"
      "to mus"
      "to walk"
      "to meal"
      "to read";
  }
}

@media (width>=1024px) {
  .content__section_to {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content;
    gap: 20px;
    grid-template-areas:
      "to rec rec"
      "to sky sky"
      "to mus mus"
      "to walk walk"
      "to meal meal"
      "to read read";
  }
}

.content__title_to {
  grid-area: to;
}

.content__title-rec {
  grid-area: rec;
}

.content__text-block_to-sky {
  grid-area: sky;
}

.small_title {
  font-weight: 400;
  margin-block-start: 0;
}

.content__text-block_to-mus {
  grid-area: mus;
}

.content__text-block_to-walk {
  grid-area: walk;
}

.content__text-block_to-meal {
  grid-area: meal;
}

.content__text-block_to-read {
  grid-area: read;
}

.content__section_insta {
  display: grid;
  gap: 10px;
  grid-template-areas:
    "insta"
    "sunset"
    "ice-cream"
    "tape"
    "books"
    "street";
}

@media (width>=768px) {
  .content__section_insta {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content;
    gap: 20px;
    grid-template-areas:
      "insta insta insta"
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
  }
}

.content__title_insta {
  grid-area: insta;
}

.content__figure {
  position: relative;
  inline-size: 100%;
}

.content__picture {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.sunset {
  grid-area: sunset;
}

.ice-cream {
  grid-area: ice-cream;
}

.tape {
  grid-area: tape;
}

.books {
  grid-area: books;
}

.street {
  grid-area: street;
}

.footer {
  margin-block-start: clamp(2.5rem, 1.3073rem + 5.0891vw, 3.75rem);
  padding-inline: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  padding-block: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-block-size: 668px;
  block-size: 100vh;
}

.heading-footer {
  margin-inline-start: 0;
  justify-self: center;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width>=1024px) {
  .heading-footer {
    --accent-color: #ff0070;
  }
}

.content__paragraph,
.paragraph__title,
.content__title-rec,
.content__title_insta {
  color: var(--bg-color);
}

.decorated-zone,
.content__title,
.title-decor,
.header__theme-menu-button {
  color: var(--accent-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(var(--accent-color), 0.4);
}

.header__theme-menu-button_active {
  outline-color: var(--accent-color);
}

